<ion-header>
  <ion-toolbar>
    <ion-title>Datos a contactar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>VIDAL MELGAREJO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CUIDAD DEL ESTE - MICROCENTRO</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>0994 327869</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MASCOTA - NEKO CHAN </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>UBICACION</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content class="fondologin">
      <ion-img class= "logoprincipal" src ="assets\icon\GATOIMAGEN.jpg"></ion-img>
    </ion-card-content>
  </ion-card>

</ion-content>
